h1 {
  font-family: 'Arimo', sans-serif;
}

body {
  font-family: 'Arimo', sans-serif;
}

#content {
  margin: 20px 5% 20px 5%;
  padding: 0;
}

#chart_container {
  position: relative; 
  height:40vh; 
  width:90%; 
  text-align: right;
}

.form-container {
  width: 50%; 
}

.align-right {
  float: right;
  overflow: hidden;
}

input.non-editable {
  text-align: right;
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  width: 2rem;
}

input.editable {
  text-align: right;
  width: 2rem;
}
