{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='dontcommit.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<div style="position: relative; height:40vh; width:80vw">
  <canvas id="chart"></canvas>
  <div class="button-group">
    <button onclick="updateChartForPeriod('day')">Day</button>
    <button onclick="updateChartForPeriod('week')">Week</button>
    <button onclick="updateChartForPeriod('all')">All</button>
  </div> 
  <script>
    setupChart();
  </script>
</div>
{% endblock %}
