{% extends 'base.html' %}

{% block title %}Parameters{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='parameters.js') }}"></script>
<script src="{{ url_for('static', filename='dontcommit.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Parameters</h1>

<a href="{{ url_for('dashboard') }}">Back</a>

<div class="form-container">
  <div>
    Current maximum humidity before alert:
    <span class="align-right">
      <input class="non-editable" disabled="true" type="text" min="0" max="100" value="..." id="max_humidity"><span>%</span>
    </span>
  </div>
  <div>
    Current humidity threshold for acceptable humidity:
    <span class="align-right">
      <input class="non-editable" disabled="true" type="text" min="0" max="100" value="..." id="humidity_threshold"><span>%</span>
    </span>
  </div>
  <div>
    Current night start time (24-hour format):
    <span class="align-right">
      <input class="non-editable" disabled="true" type="text" min="0" max="23" value="..." id="night_start_hour"><span>h</span>
    </span>
  </div>
  <div>
    Current night end time (24-hour format):
    <span class="align-right">
      <input class="non-editable" disabled="true" type="text" min="0" max="23" value="..." id="night_end_hour"><span>h</span>
    </span>
  </div>
  <button onclick="enterEditMode()" id="edition-validation">Edit parameters</button>
  <script>
    loadParameters();
  </script>
</div>
{% endblock %}
