{% extends 'base.html' %}

{% block title %}Parameters{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='parameters.js') }}"></script>
<script src="{{ url_for('static', filename='dontcommit.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Parameters</h1>

<a href="{{ url_for('dashboard') }}">Back</a>
<br/><br/>

<div class="form-container">
  Current maximum humidity before alert:
  <input class="non-editable" disabled="true" type="text" min="0" max="100" value="..." id="max_humidity"><span>%</span><br/>

  Current humidity threshold for acceptable humidity:
  <input class="non-editable" disabled="true" type="text" min="0" max="100" value="..." id="humidity_threshold"><span>%</span><br/>
  
  Current night start time (24-hour format):
  <input class="non-editable" disabled="true" type="text" min="0" max="23" value="..." id="night_start_hour"><span>h</span><br/>
  
  Current night end time (24-hour format):
  <input class="non-editable" disabled="true" type="text" min="0" max="23" value="..." id="night_end_hour"><span>h</span><br/>
  
  <br/>
  
  <button onclick="enterEditMode()" id="edition-validation">Edit parameters</button>
  <script>
    loadParameters();
  </script>
</div>
{% endblock %}
